<% include partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1 class="display-3">Ultra Run Review</h1>
                    <p class="lead">We are an awesome group of people helping other people find a good ultra for them.</p>
                    <hr class="my-4">
                    <p>Click get started below to start finding ultra marathons for you</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/marathons" role="button">Get Started!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
<% include partials/footer %>